body{
    background-color: rgb(12, 11, 0);
    color: rgb(160, 40, 40);
}
h1{
    color: rgb(255, 255, 255);
}
section{
    background: rgb(31, 31, 31);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
